
		  <!-- Main component for a primary marketing message or call to action -->
		  <div class="container my-3">
		  <nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">dashboard</li>
			  </ol>
			</nav>

			<div class="row">
			 <div class="col-lg-6">
				<div class="card">
				<div class ="card-body">
				<center>
			<h2 class="card-title">Market Insights</h2>
			</center>
			<br>
			<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th class="text-left">Currency</th>
					<th class="text-left">Rate</th>
				</tr>
			</thead>
			<tbody class="table">
				<tr>
					<td class="text-left"><%=Market.first.base_currency.currency_name + "/" + Market.first.quoted_currency.currency_name %></td>
					<td class="text-left"><%=Rate.first.price%>%</td>
				</tr>
				<tr>
					<td class="text-left"><%=Market.second.base_currency.currency_name + "/" + Market.second.quoted_currency.currency_name %></td>
					<td class="text-left"><%=Rate.second.price%>%</td>
				</tr>
				<tr>
					<td class="text-left"><%=Market.third.base_currency.currency_name + "/" + Market.third.quoted_currency.currency_name %></td>
					<td class="text-left"><%=Rate.third.price%>%</td>
				</tr>
				<tr>
					<td class="text-left"><%=Market.fourth.base_currency.currency_name + "/" + Market.fourth.quoted_currency.currency_name %></td>
					<td class="text-left"><%=Rate.fourth.price%>%</td>
				</tr>
			</tbody>
			</table>
			 <p class="card-text"><small class="text-muted">Updated At :<%= Rate.order(:updated_at).last.updated_at %></small></p>
		 </div>
		 </div>
		</div>
			 
			 <div class="col-lg-6">
					<div class="card ">
					<div class="card-header text-center">Currency value Calculator</div>
					<div class="card-body">
								
					<form>
					<div class="form-group">
						<div class="inputWrapper">
							<label for="exampleFormControlInput1">Currency</label>
							<select class="form-control" id="exampleFormControlInput1">
								<option value="usd_bnd"><%=Market.first.base_currency.currency_name + "/" + Market.first.quoted_currency.currency_name %></option>
								<option value="usd_rtgs"><%=Market.second.base_currency.currency_name + "/" + Market.second.quoted_currency.currency_name %></option>
								<option value="bond_rtgs"><%=Market.third.base_currency.currency_name + "/" + Market.third.quoted_currency.currency_name %></option>
								<option value="omir_rtgs"><%=Market.fourth.base_currency.currency_name + "/" + Market.fourth.quoted_currency.currency_name %></option>
								<option value="none" selected>--Please choose an option--</option>
							</select>
							
							<label for="currencyFrom">Amount</label>
							<input type="number" name="currencyFrom"class="form-control is-valid" id="Input1" />
						</div><!-- .inputWrapper -->
						<div class="inputWrapper">
							<label for="currencyTo">Rate</label>
							<input type="number" name="currencyTo" class="form-control" id="Input2" />
							<label for="currencyTo">Value </label>
							<input type="number" name="currencyTo" class="form-control" id="Input2" disabled />
						
						</div><!-- .inputWrapper -->
						<br>
						<button class="btn btn-outline-success">Calculate</button>
						<hr>
						<ul>
							<li>Select the currency you want to calculate</li>
							<li>Enter the amount you have and Click calculate to see the value </li>
						</ul>
					</div><!-- .conversionWrapper -->
				</form>
				</div>
				</div>
			 </div>
			</div>
		  </div>